build/
build-*/
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/.tmp_versions/
*.o
*.ko
*.a
*.so
*.out
*.mod.c
*.mod.o
Module.symvers
modules.order
*.cmd
*.swp
drivers/week3_kernel/key_test
drivers/week3_kernel/key_once
drivers/week3_kernel/key_debug_test
drivers/week3_kernel/sensor_test
